/*define color palette*/
$grey: #d3d3d3;
$lightGrey: #f2f2f2;
$darkGrey: #303036;
$blue: #4386ff;
$lilac: #AC7B84;
$shadow: rgba(0,0,0,0.1);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: white;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  color: $darkGrey;
  font-weight: bold;
  text-shadow: 1px 1px 3px $shadow;
  box-shadow: 0 0 5px $shadow;
}

.form-inline {
  display:flex;
  align-items: center;
  justify-content: center;
  width:85%;
  margin: 15px auto;


  label {
    margin: 5px 5px 5px 0;
  }

  input {
    vertical-align: middle;
    margin: 5px 20px 5px 0;
    padding: 12px;
    border: 1px solid $darkGrey;
    border-radius: 5px;
  }

  button {
    padding: 12px 40px;
    background-color: $blue;
    border: 1px solid $grey;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }

  #email {
    width: 200px;
  }
}

.name-table {
  margin: 15px auto;
  width: 75%;
  table-layout: auto;

  th {
    padding: 15px 60px 15px 60px;
    margin: 10px;
    text-align: center;
    background-color: $lilac;
    color: white;
  }

  tr {
    padding: 5px;
    text-align: center;
    line-height: 25px;
  }

  tr:nth-child(even){
    background-color: $lightGrey;
  }

  tr:hover {
    background-color: $grey;
  }
}

/*screen responsiveness*/
@media (max-width: 768px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: center;
  }
}
